{% extends 'base.html' %}

{% block navbar %}
  <li><a href="{% url 'cases:create' %}"><i class="material-icons">add</i></a></li>
  {{ block.super }}
{% endblock navbar %}

{% block content %}
<table id='cases-table' class='highlight responsive-table'>
  <thead>
    <tr class='blue-grey lighten-4'><th class="center-align" colspan="{{ headers|length }}">{{txt.title | capfirst }}</th></tr>
    <tr>
      <th>{{ headers.id }}</th>
      <th>{{ headers.type_of }}</th>
      <th>{{ headers.title }}</th>
      <th>{{ headers.state }}</th>
      <th>{{ headers.priority }}</th>
      <th>{{ headers.difficulty }}</th>
      <th>{{ headers.assignee }}</th>
      <th>{{ headers.actions }}</th>
    </tr>
  </thead>
  <tbody>
  {% for case in object_list %}
    <tr>
      <td>{{ case.id }}</td>
      <td>{{ case.type_of | capfirst }}</td>
      <td><a href="{% url 'cases:read' case.id %}">{{ case.title | capfirst }}</a></td>
      <td>{{ case.state }}</td>
      <td>{{ case.priority }}</td>
      <td>{{ case.difficulty }}</td>
      <td>
      {% for assignee in case.assignee.all %}
        <a href="{% url 'users:read' assignee.user.id %}">{{ assignee.user.username }}</a>
      {% endfor %}
      </td>
      <td>
        <a class="waves-effect btn blue-grey lighten-2" href="{% url 'cases:update' case.id %}"><i class="material-icons">edit</i></a>
        <a class="waves-effect btn blue-grey lighten-0" href="{% url 'cases:delete' case.id %}"><i class="material-icons">delete</i></a>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="{{ headers|length }}">{{ txt.no_cases | capfirst }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="{{ headers|length }}">{{ txt.total | capfirst }} {{ headers|length }}</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
