{% extends 'base.html' %}

{% block content %}
<div class="row">
  <h5>{{ object.title }}</h5>
</div>
<div class="row">
  <span class="left">{{ titles.id | capfirst }}</span>
  <span class="right">{{ object.id }}</span>
</div>
<div class="row">
  <div>{{ titles.description | capfirst }}</div>
  <div class="card">
    <div class="card-content">{{ object.description }}</div>
  </div>
</div>
<div class="row">
  <span class="left">{{ titles.date_created | capfirst }}</span>
  <span class="right">{{ object.date_created | date:'Y-m-d' }}</span>
</div>
<div class="row">
  <span class="left">{{ titles.date_updated | capfirst }}</span>
  <span class="right">{{ object.date_updated | date:'Y-m-d'}}</span>
</div>
<div class="row">
  <span class="left">{{ titles.type_of | capfirst }}</span>
  <span class="right" class="right">{{ object.type_of | capfirst }}</span>
</div>
<div class="row">
  <span class="left">{{ titles.state | capfirst }}</span>
  <span class="right">{{ object.state | capfirst }}</span>
</div>
<div class="row">
  <span class="left">{{ titles.priority | capfirst }}</span>
  <span class="right">{{ choices.priority | capfirst }}</span>
</div>
<div class="row">
  <span class="left">{{ titles.difficulty | capfirst }}</span>
  <span class="right">{{ choices.difficulty }}</span>
</div>
<div class="row">
  <div>{{ titles.assignee | capfirst }}</div>
  <div class="divider"></div>
  <div class="collection">
    {% for assignee in object.assignee.all %}
        <a class="collection-item" href="{% url 'users:read' assignee.user.id %}">{{assignee.user.username}}</a>
    {% empty %}
        <span class="collection-item">{{txt.no_assignees}}</span>
    {% endfor %}
  </div>
</div>
{% endblock content %}
